Port: 7890
socks-port: 7891
redir-port: 7892
mixed-port: 7893
tproxy-port: 7895
ipv6: false
udp: true
mode: rule
log-level: silent
allow-lan: true
unified-delay: true
tcp-fast-open: true
tcp-concurrent: true
external-controller: 127.0.0.1:9090
keep-alive-interval: 10

dns:
  enable: true
  ipv6: false
  enhanced-mode: fake-ip
  fake-ip-range: 198.18.0.1/16
  listen: 0.0.0.0:7874
  default-nameserver:
    - 8.8.8.8
    - 1.1.1.1
  nameserver:
    - https://dns.google/dns-query
    - https://cloudflare-dns.com/dns-query
  fake-ip-filter:
    - 'connectivitycheck.gstatic.com'
    - 'connectivitycheck.android.com'
    - 'msftconnecttest.com'
    - 'msftncsi.com'
    - 'clients3.google.com'
    - '*.whatsapp.net'
    - '*.whatsapp.com'
    - '*.google.com'
    - '*.kemdikbud.go.id'
    - 'domain:*.xl.co.id'
    - 'domain:*.xlaxiata.id'
    - 'domain:*.myxl.co.id'
    - 'domain:*.axisnet.id'
    - 'domain:+.xl.co.id'
    - 'domain:+.xlaxiata.id'
    - 'domain:myxl.co.id'
    - 'domain:axisnet.id'
    - 'domain:tiktok.com'
    - 'domain:tiktokv.com'
    - 'domain:tiktokcdn.com'
    - 'domain:tiktokstatic.com'
    - 'domain:tiktokd.org'
    - 'domain:tiktokv.us'
    - 'domain:tik-tokapi.com'
    - 'domain:musical.ly'
    - 'domain:muscdn.com'
    - 'domain:musemuse.cn'
    - 'domain:m.tiktok.com'
    - 'domain:id.tiktok.com'
    - 'domain:v16-webapp-prime.tiktok.com'
    - 'domain:webcast.tiktok.com'
    - 'domain:sec.tiktok.com'
    - 'domain:verification.tiktok.com'
    - 'domain:api-m.tiktok.com'
    - 'domain:api16-core-c-useast1a.tiktokv.com'
    - 'domain:mon.tiktokv.com'
    - 'domain:log-va.tiktokv.com'
    - 'domain:rtlog-va.tiktokv.com'
    - 'domain:webcast-va.tiktokv.com'
    - 'domain:webcast-sg.tiktokv.com'
    - 'domain:webcast-v6.tiktokv.com'
    - 'domain:tiktokcdn-eu.com'
    - 'domain:tiktokcdn-us.com'
    - 'domain:tiktokcdn-sea.com'
    - 'domain:p16-va.tiktokcdn.com'
    - 'domain:p16-sign-sg.tiktokcdn.com'
    - 'domain:p16-webcast.tiktokcdn.com'
    - 'domain:tiktok-v6.com'
    - 'domain:byteoversea.com'
    - 'domain:byteoversea.net'
    - 'domain:ttoversea.net'
    - 'domain:ttoverseaus.net'
    - 'domain:log.byteoversea.com'
    - 'domain:tiktok-v6-id.byteoversea.com'
    - 'domain:tiktok-v6-sg.byteoversea.com'
    - 'domain:byteimg.com'
    - 'domain:ibyteimg.com'
    - 'domain:byteimg-oversea.com'
    - 'domain:p16-tiktok-sg.ibyteimg.com'
    - 'domain:p16-tiktok-va.ibyteimg.com'
    - 'domain:p16-webcast.ibyteimg.com'
    - 'domain:p16-tiktok-sign.ibyteimg.com'
    - 'domain:p16-web-sing.ibyteimg.com'
    - 'domain:p16-security-sg.ibyteimg.com'
    - 'domain:ibytedtos.com'
    - 'domain:pstatp.com'
    - 'domain:ipstatp.com'
    - 'domain:sgpstatp.com'
    - 'domain:flive.pstatp.com'
    - 'domain:snssdk.com'
    - 'domain:sgsnssdk.com'
    - 'domain:isnssdk.com'
    - 'domain:ttvideo.com'
    - 'domain:ttwstatic.com'
    - 'domain:bytegecko.com'
    - 'domain:bytegecko-i18n.com'
    - 'domain:bytefcdn.com'
    - 'domain:bytefcdn-tt.com'
    - 'domain:bytefcdn-oversea.com'
    - 'domain:bytefcdn-static.com'
    - 'domain:bytefcdn-tt-alpha.com'
    - 'domain:bytedapm.com'
    - 'domain:byteintl.net'
    - 'domain:byteglb.com'
    - 'domain:byteeffect.com'
    - 'domain:bytedns.net'
    - 'domain:byteicdn.com'
    - 'domain:volces.com'
    - 'domain:volceingest.com'
    - 'domain:byteactivity.com'
    - 'domain:tlivecdn.com'
    - 'domain:ttlivecdn.com'
    - 'domain:tiktok-v6-sg.ibyterom.com'
    - 'domain:bytedance.com'
    - 'domain:volcengine.com'
    - 'domain:volcengineapi.com'
    - 'domain:bytedance.net'
    - 'domain:byteicdn.net'
    - 'domain:bytebus.com'
    - 'domain:bytetos.com'
    - 'domain:ttads.com'
    - 'domain:bytegoofy.com'
    - 'domain:bytedanceapi.com'
    - 'domain:bytepond.com'
    - 'domain:bytedance.io'
    - 'domain:bytemod.com'
    - 'domain:bytehtest.com'
    - 'domain:tiktokv.com.edgesuite.net'
    - 'domain:tiktok.com.edgesuite.net'
    - 'domain:tiktokcdn-com.edgekey.net'
    - 'domain:sf16-muse-va.ibytedtos.com'
    - 'domain:sf16-sg.ibytedtos.com'
    - 'domain:v16.tiktokcdn.com'
    - 'domain:v19.tiktokcdn.com'
    - 'domain:v21.tiktokcdn.com'
    - 'domain:tiktok-all-va.byteoversea.com'
    - 'domain:bytevfs.com'
    - 'domain:effecthouse.com'
    - 'domain:capcut.com'
    - 'domain:byted-static.com'
    - 'domain:byteimg.com.akamaized.net'
    - 'domain:tiktokv.akamaized.net'
    - 'domain:pangle.io'
    - 'domain:getaglobal.com'
    - 'domain:byteoversea.com.edgesuite.net'
    - 'domain:bdurl.net'
    - 'domain:bytedance.com.cdn.cloudflare.net'
    - 'domain:bytegecko.net'
    - 'domain:bytetos.net'
    - 'domain:byte-static.com'
    - 'domain:volcengine.net'
    - 'domain:volces.net'
    - 'domain:byte-dns.com'
    - 'domain:bytednsapi.com'
    - 'domain:is.snssdk.com'
    - 'domain:look.snssdk.com'
    - 'domain:ibytedapm.com'
    - 'domain:tokopedia.com'
    - 'domain:tokopedia.net'
    - 'domain:tokope.id'
    - 'domain:tokopedianow.com'
    - 'domain:assets-tokopedia.com'
    - 'domain:aj-cdn.com'
    - 'domain:go-jek.com'
    - 'domain:gotocompany.com'
    - 'domain:go-pay.co.id'
    - 'domain:midtrans.com'
    - 'domain:tawk.to'
    - 'domain:cloudfront.net'
    - 'domain:tiktokshop.com'
    - 'domain:ibyteit.com'
    - 'domain:byteintl.com'
    - 'domain:byteoversea.i18n.com'
    - 'domain:sgsnssdk.org'
    - 'domain:ctobsnssdk.com'
    - 'domain:go-jek.io'
    - 'domain:gojekapi.com'
    - 'domain:gojek.com'
    - 'domain:go-pay.id'
    - 'domain:tokopoints.com'
    - 'domain:tokopedia.com.edgekey.net'
    - 'domain:tkp.me'
    - 'domain:tokopediastatic.com'
    - 'domain:ecom-api-sg.tiktok.com'
    - 'domain:m-shop.tiktok.com'
    - 'domain:seller-sg.tiktok.com'
    - 'domain:seller.tiktok.com'
    - 'domain:shoppay.tiktok.com'
    - 'domain:ads-sg.tiktok.com'
    - 'domain:analytics-sg.tiktok.com'
    - 'domain:gosend.id'
    - 'domain:gopay.id'
    - 'domain:toko.ly'
    - 'domain:gopay.co.id'
    - 'domain:ascent.tokopedia.com'
    - 'domain:promotion.tokopedia.com'
    - 'domain:akamaized.net'
    - 'domain:edgecastdns.net'
    - 'domain:edgecastcdn.net'
    - 'domain:fastly.net'
    - 'domain:app-measurement.com'
    - 'domain:crashlytics.com'
    - 'domain:myvzw.com'
    - 'domain:tiktokv.com.edgekey.net'
    - 'domain:byteoversea.com.edgekey.net'
    - 'domain:star-tiktok-jp-v6.akamaized.net'
    - 'domain:m-tiktok-com.akamaized.net'
    - 'domain:tiktokcdn-us.com.akamaized.net'
    - 'domain:byteorange.com'
    - 'domain:bytemover.com'
    - 'domain:byteconf.com'
    - 'domain:bytedance.static.com'
    - 'domain:giphy.com'
    - 'domain:gvt1.com'
    - 'domain:worldfcdn.com'
    - 'domain:-tiktok.byteoversea.com'
    - 'domain:-tiktokcdn-com'
    - 'domain:-tt.byteimg.com'
    - 'domain:-tt-ipv6.byteimg.com'
    - 'domain:-hs.pstatp.com'
    - 'domain:-tos.pstatp.com'
    - 'domain:-mus.pstatp.com'

sniffer:
  enable: true
  sniff:
    TLS:
      ports: [443, 8443]
    HTTP:
      ports: [80, 8080-8880]

proxy-providers:
  Akun-VPN:
    type: http
    url: "https://raw.githubusercontent.com/agussutanto564/CLASH_for_Android/main/provider/vpn.yaml"
    interval: 86400
    path: "./vpn.yaml"
    health-check:
      enable: true
      url: http://cp.cloudflare.com/generate_204
      interval: 150
      timeout: 2000

proxy-groups:
  - name: VPN
    type: select
    use:
      - Akun-VPN
    url: http://cp.cloudflare.com/generate_204
    interval: 150
    tolerance: 100
    timeout: 2000

rule-providers:
  # --- RULES ADS BLOCK ---
  Ads_Ultimate:
    type: http
    behavior: domain
    url: "https://raw.githubusercontent.com/Loyalsoldier/clash-rules/release/reject.txt"
    path: ./ads_ultimate.yaml
    interval: 86400

  Ads_Indo:
    type: http
    behavior: classical
    url: "https://raw.githubusercontent.com/hillz2/openclash_adblock/main/abpindo.yaml"
    path: ./ads_indo.yaml
    interval: 86400

  Ads_Global:
    type: http
    behavior: domain
    url: "https://raw.githubusercontent.com/hillz2/openclash_adblock/main/oisd_big.yaml"
    path: ./ads_global.yaml
    interval: 86400

  Ads_Mobile:
    type: http
    behavior: classical
    url: "https://raw.githubusercontent.com/alfatihart/clashBlock/main/adaway.yaml"
    path: ./ads_mobile.yaml
    interval: 86400

  # --- APP RULES ---
  Rule_TikTok:
    type: http
    behavior: classical
    url: "https://raw.githubusercontent.com/agussutanto564/CLASH_for_Android/main/provider/tiktok.yaml"
    interval: 86400
    path: "./tiktok.yaml"

  Rule_WhatsApp:
    type: http
    behavior: classical
    url: "https://raw.githubusercontent.com/agussutanto564/CLASH_for_Android/main/provider/whatsapp.yaml"
    interval: 86400
    path: "./whatsapp.yaml"

  Rule_YouTube:
    type: http
    behavior: classical
    url: "https://raw.githubusercontent.com/agussutanto564/CLASH_for_Android/main/provider/youtube.yaml"
    interval: 86400
    path: "./youtube.yaml"

  Rule_MyXL:
    type: http
    behavior: classical
    url: "https://raw.githubusercontent.com/agussutanto564/CLASH_for_Android/main/provider/myxl.yaml"
    interval: 86400
    path: "./myxl.yaml"

rules:
  - IP-CIDR,127.0.0.0/8,DIRECT,no-resolve
  - IP-CIDR,192.168.0.0/16,DIRECT,no-resolve
  - GEOIP,LAN,DIRECT
  - DOMAIN-KEYWORD,adserver,REJECT
  - DOMAIN-KEYWORD,ad-delivery,REJECT
  - DOMAIN-KEYWORD,ads-system,REJECT
  - DOMAIN-SUFFIX,doubleclick.net,REJECT
  - DOMAIN-SUFFIX,googleadservices.com,REJECT
  - DOMAIN-SUFFIX,googlesyndication.com,REJECT
  - DOMAIN-SUFFIX,app-measurement.com,REJECT
  - DOMAIN-SUFFIX,analytics.google.com,REJECT
  - DOMAIN-SUFFIX,ads.youtube.com,REJECT
  - DOMAIN-SUFFIX,crashlytics.com,REJECT
  - DOMAIN-SUFFIX,applovin.com,REJECT
  - DOMAIN-SUFFIX,applvn.com,REJECT
  - DOMAIN-SUFFIX,unityads.unity3d.com,REJECT
  - DOMAIN-SUFFIX,pangle.io,REJECT
  - DOMAIN-SUFFIX,snssdk.com,REJECT
  - RULE-SET,Ads_Ultimate,REJECT
  - RULE-SET,Ads_Indo,REJECT
  - RULE-SET,Ads_Global,REJECT
  - RULE-SET,Ads_Mobile,REJECT
  - RULE-SET,Rule_WhatsApp,VPN
  - RULE-SET,Rule_TikTok,VPN
  - RULE-SET,Rule_YouTube,VPN
  - RULE-SET,Rule_MyXL,DIRECT
  - GEOIP,ID,VPN
  - MATCH,VPN
